.movieCard {
  display: inline-block;
}
.cover {
  margin: 0.5rem;
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 0.3rem;
}
h2 {
  font-size: 1rem;
}
.movieDetail {
  margin: 0.8rem;
}
.movieTitle {
  width: 100%;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  font-size: small;
  color: #fff;
}
.trending {
  display: inline-flex;
  margin: 0.2rem;
  font-family: Poppins;
  font-weight: 200;
  text-transform: capitalize;
  font-size: small;
  color: rgb(255, 255, 255);
}
.badge {
  background-color: red;
}
