.movieCard {
  display: flex;
  flex-wrap: wrap;
  background: #343434;
  max-width: 25%;
}
.cover {
  margin: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}
.movieDetail {
  margin: 0.8rem;
}
.movieTitle {
  width: 100%;
}
.trending {
  display: inline-flex;
  margin: 0.2rem;
}
.badge {
  background-color: red;
}
