@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* .youtube {
  transform: scale(1.7);
  position: sticky;
  top: 0;
  z-index: 1;
} */

.sectiontitle {
  font-family: Poppins;
  font-weight: 500;
  font-size: medium;
  color: #fff;
  text-shadow: 0 0 7px #fff;
  margin-left: 20px;
}
p {
  font-size: 15px;
  margin-left: 20px;
  margin-right: 25px;
  color: rgba(255, 255, 255, 0.443);
  font-weight: 200;
}
.latestList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

.slider {
  padding: 20px;
  background-color: black;
}
.mainDisplay {
  position: sticky;
  top: 0;
  z-index: 1;
}

/*////////////////////////////////////////////////////*/
/*Css for page innerpage*/

.containertop {
  display: flex;
  background-color: red;
  padding: 10px;
  gap: 10px;
}

.containertop .col {
  background-color: green;
}
.genres {
  display: flex;
  gap: 10px;
}
