@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600;700&display=swap");

.nav {
  background-color: red;
  position: sticky;
  top: 0;
  width: 100%;
  margin-top: -50px;
  padding: 20px;
}
.youtube {
  margin-top: -50px;
  height: 60vh;
  background: radial-gradient(
    ellipse at top left,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 90%
  );
  z-index: 99;
}
.youtube iframe {
}
.sectiontitle {
  margin: 20px;
  padding: 5px;
}
.latestList {
  display: flex; /* display the component in a row */
  width: 100%; /* the width of the container is 100% */
  justify-content: space-between;
  margin: 20px;
}
