@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600;700&display=swap");

.nav {
  background-color: rgb(17, 17, 17);
  position: sticky;
  top: 0;
  width: 100%;
  margin-top: -50px;
  padding: 20px;
}
.youtube {
  margin-top: -50px;
  height: 60vh;
  background: radial-gradient(
    ellipse at top left,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 90%
  );
  z-index: -1;
  position: relative;
}
.youtube iframe {
}
.sectiontitle {
  font-family: Poppins;
  font-weight: 500;
  font-size: medium;
  color: #fff;
  text-shadow: 0 0 7px #fff;
  margin-left: 30px;
}
.latestList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px;
}
.testing {
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(0, 0, 0));

  z-index: 1;
}
